.car-name {
    font-weight: 600;
}

.card-edit {
    border-radius: 8px !important;
    box-shadow: 0px 0px 2px rgba(5, 5, 5, 0.246);
}

.price {
    font-weight: bold;
}

.list-feature {
    list-style: none;
    line-height: 200%;
    margin-left: -30px;
}

.satu::before {
    content: url(../../Img/fi_users.png);
    padding-right: 12px;
}

.dua::before {
    content: url(../../Img/fi_settings.png);
    padding-right: 12px;
}

.tiga::before {
    content: url(../../Img/fi_calendar.png);
    padding-right: 12px;
}

.btn-edit-card {
    width: 100% !important;
    background: #5CB85F !important;
    border-color: #5CB85F !important;
    border-radius: 2px !important;
}

.card-img-top {
    max-height: 160px;
}